

<div class="login-container">
    <div class="title">
        Login
    </div>
  <div class="form">
    <!-- <label>Username</label> -->
     <label class="email">Username</label>
    <input type="text" class="input-box-email" placeholder="Enter your email"/>
  </div>

  <div class="form">
    <label class="password">Password</label>
    <input type="password" class="input-box-password" placeholder="Enter the password"/>
  </div>

  <div class="submit-btn">
    <button type="submit">Login</button>
  </div>
  <div class="register">
    <a [routerLink]="['/register']">register</a>
  </div>
</div>
